table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.centra{
  text-align: center;
}

mat-card-title {
  width: 100%;
}

.full-titulo{
  width: 100%;
}

.full{
  width: 100%;
  display: flex;
  justify-content: right;
  justify-items: right;
}

.izq {
  margin-right: 0%;
  margin-left: auto;
  display: inline-flex;
  justify-self: right;
}
